In [1]:
# try to connect sql
import pymysql
import pandas as pd
import os
import csv

HOST = "127.0.0.1"
PORT = 3306
USER = 'root'
PASS = "12345678"
DB = "bookrs"

In [2]:
conn = pymysql.connect(
    host=HOST, 
    port=PORT, 
    user=USER,
    password=PASS,
    database=DB,
    charset="utf8")

cursor = conn.cursor()

cursor.execute('drop table if exists books')
sql = """
create table `test` (book_id INT AUTO_INCREMENT not null primary key, `best_book_id` INT,`work_id` INT,`books_count` INT,`isbn` VARCHAR(255),`isbn13` VARCHAR(255),`authors` VARCHAR(510),`original_publication_year` VARCHAR(255),`original_title` VARCHAR(255),`title` VARCHAR(255),`language_code` VARCHAR(255),`average_rating` FLOAT,`ratings_count` INT,`work_ratings_count` INT,`work_text_reviews_count` INT,`ratings_1` INT,`ratings_2` INT,`ratings_3` INT,`ratings_4` INT,`ratings_5` INT,`image_url` VARCHAR(255),`small_image_url` VARCHAR(255))
"""

cursor.execute(sql)
cursor.close()

conn.close()

In [14]:
rating_df = pd.read_csv('./book-data/ratings.csv', header = 0)
rating_df.shape

(981756, 3)

In [91]:
columns = books_df.columns
for item in columns:
    item1 = '`'+item.replace(' ', '_').replace(':','')+'`'
    print(item1)

`id`
`book_id`
`best_book_id`
`work_id`
`books_count`
`isbn`
`isbn13`
`authors`
`original_publication_year`
`original_title`
`title`
`language_code`
`average_rating`
`ratings_count`
`work_ratings_count`
`work_text_reviews_count`
`ratings_1`
`ratings_2`
`ratings_3`
`ratings_4`
`ratings_5`
`image_url`
`small_image_url`

In [156]:
books_df[books_df["id"]==1096]['authors'].str.len()

1095    257
Name: authors, dtype: int64

In [130]:
books_df = pd.read_csv('./book-data/books.csv',keep_default_na=False, header = 0)
books_df.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.78043902348e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.78043955493e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.78031601584e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.78006112008e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.78074327356e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [85]:
# books_df.columns.tolist()
books_df.ftypes

id                             int64:dense
best_book_id                   int64:dense
work_id                        int64:dense
books_count                    int64:dense
isbn                          object:dense
isbn13                        object:dense
authors                       object:dense
original_publication_year     object:dense
original_title                object:dense
title                         object:dense
language_code                 object:dense
average_rating               float64:dense
ratings_count                  int64:dense
work_ratings_count             int64:dense
work_text_reviews_count        int64:dense
ratings_1                      int64:dense
ratings_2                      int64:dense
ratings_3                      int64:dense
ratings_4                      int64:dense
ratings_5                      int64:dense
image_url                     object:dense
small_image_url               object:dense
dtype: object

In [171]:
columns = books_df.columns.tolist()
types = books_df.ftypes
make_table = []
make_field = []

for item in columns:
    item1 = '`'+item.replace(' ', '_').replace(':','')+'`'
    if 'int' in types[item]:
        char = item1 + ' INT'
    elif 'float' in types[item]:
        char = item1 +' FLOAT'
    elif 'object' in types[item]:
        char = item1 +' VARCHAR(300)'
    elif 'datetime' in types[item]:
        char = item1 + ' DATETIME'
    else:
        char = item1 + ' VARCHAR(255)'
    make_table.append(char)
    make_field.append(item1)
    
print(make_table)
print(make_field)

['`id` INT', '`book_id` INT', '`best_book_id` INT', '`work_id` INT', '`books_count` INT', '`isbn` VARCHAR(300)', '`isbn13` VARCHAR(300)', '`authors` VARCHAR(300)', '`original_publication_year` VARCHAR(300)', '`original_title` VARCHAR(300)', '`title` VARCHAR(300)', '`language_code` VARCHAR(300)', '`average_rating` FLOAT', '`ratings_count` INT', '`work_ratings_count` INT', '`work_text_reviews_count` INT', '`ratings_1` INT', '`ratings_2` INT', '`ratings_3` INT', '`ratings_4` INT', '`ratings_5` INT', '`image_url` VARCHAR(300)', '`small_image_url` VARCHAR(300)']
['`id`', '`book_id`', '`best_book_id`', '`work_id`', '`books_count`', '`isbn`', '`isbn13`', '`authors`', '`original_publication_year`', '`original_title`', '`title`', '`language_code`', '`average_rating`', '`ratings_count`', '`work_ratings_count`', '`work_text_reviews_count`', '`ratings_1`', '`ratings_2`', '`ratings_3`', '`ratings_4`', '`ratings_5`', '`image_url`', '`small_image_url`']

In [3]:
class CsvToMysql(object):
    def __init__(self, hostname, port, user, passwd, db):
        self.dbname = db
        self.conn = pymysql.connect(host=hostname, port=port, user=user, passwd=passwd, db=db)
        self.cursor = self.conn.cursor()
 
 
    def read_csv(self,filename,indexcol=None):
        df = pd.read_csv(filename, keep_default_na=False, encoding='utf-8')
        try:
            df.drop(['id'],axis=1,inplace=True)
        except:
            pass
        
        table_name = '`'+os.path.split(filename)[-1].split('.')[0].replace(' ', '_') + '`'
        self.csv2mysql(db_name=self.dbname,table_name=table_name, df=df, col_index = indexcol)
 
 
    def make_table_sql(self,df,col_index):
        #将csv中的字段类型转换成mysql中的字段类型
        columns = df.columns.tolist()
        types = df.ftypes
        make_table = []
        make_field = []
        for item in columns:
            if item ==col_index:
                item1 = item.replace(' ', '_').replace(':','')
            else:
                item1 = '`'+item.replace(' ', '_').replace(':','')+'`'
                
            if 'int' in types[item]:
                char = item1 + ' INT'
            elif 'float' in types[item]:
                char = item1 +' FLOAT'
            elif 'object' in types[item]:
                char = item1 +' VARCHAR(1000)'
            elif 'datetime' in types[item]:
                char = item1 + ' DATETIME'
            else:
                char = item1 + ' VARCHAR(400)'
            #char = item1 + ' VARCHAR(255)'
            make_table.append(char)
            make_field.append(item1)
#         return ','.join(make_table), ','.join(make_field)
        return make_table,make_field

    def csv2mysql(self,db_name,table_name,df, col_index):
        make_table, make_field = self.make_table_sql(df,col_index)

        field1 = ','.join(make_table[1:])
        field2 = ','.join(make_field)
        
        print("create table {} ({} AUTO_INCREMENT not null primary key, {})".format(table_name,make_table[0],field1))
        self.cursor.execute('drop table if exists {}'.format(table_name))
        self.cursor.execute("create table {} ({} AUTO_INCREMENT not null primary key,{})".format(table_name,make_table[0],field1))
        values = df.values.tolist()
        s = ','.join(['%s' for _ in range(len(df.columns))])
        try:
            print(len(values[0]),len(s.split(',')))
            print('insert into {}({}) values ({})'.format(table_name, field2, s), values[0])
            self.cursor.executemany('insert into {}({}) values ({})'.format(table_name, field2, s), values)
            
        except Exception as e:
            print("Exception",e)
        finally:
            self.conn.commit()

In [4]:
M = CsvToMysql(hostname=HOST, port=PORT, user=USER, passwd=PASS, db=DB)

In [5]:
M.read_csv('./book-data/books.csv','book_id')

create table `books` (book_id INT AUTO_INCREMENT not null primary key, `best_book_id` INT,`work_id` INT,`books_count` INT,`isbn` VARCHAR(1000),`isbn13` VARCHAR(1000),`authors` VARCHAR(1000),`original_publication_year` VARCHAR(1000),`original_title` VARCHAR(1000),`title` VARCHAR(1000),`language_code` VARCHAR(1000),`average_rating` FLOAT,`ratings_count` INT,`work_ratings_count` INT,`work_text_reviews_count` INT,`ratings_1` INT,`ratings_2` INT,`ratings_3` INT,`ratings_4` INT,`ratings_5` INT,`image_url` VARCHAR(1000),`small_image_url` VARCHAR(1000))
22 22
insert into `books`(book_id,`best_book_id`,`work_id`,`books_count`,`isbn`,`isbn13`,`authors`,`original_publication_year`,`original_title`,`title`,`language_code`,`average_rating`,`ratings_count`,`work_ratings_count`,`work_text_reviews_count`,`ratings_1`,`ratings_2`,`ratings_3`,`ratings_4`,`ratings_5`,`image_url`,`small_image_url`) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s) [2767052, 2767052, 2792775, 272, '439023483', '9.78043902348e+12', 'Suzanne Collins', '2008.0', 'The Hunger Games', 'The Hunger Games (The Hunger Games, #1)', 'eng', 4.34, 4780653, 4942365, 155254, 66715, 127936, 560092, 1481305, 2706317, 'https://images.gr-assets.com/books/1447303603m/2767052.jpg', 'https://images.gr-assets.com/books/1447303603s/2767052.jpg']

In [6]:
from flask_sqlalchemy import SQLAlchemy

In [12]:


a = [1,2,3,4,5]
str(a)[1:-1]

'1, 2, 3, 4, 5'